.App {
  text-align: center;
  background-color: #191919;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AddThoughtForm {
  display: flex;
  flex-wrap: wrap; 
}

.AddThoughtForm input {
  padding: 1.5rem;
  border: 1px solid #666;
  border-radius: 3px;
}

.AddThoughtForm input[type='text'] {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.thoughts {
  list-style: none;
  padding: 0;
}
.Thought {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: #404040;
}

.Thought .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 3px;
  background: transparent;
  color: #fff;
}

.Thought .remove-button:hover {
  color: #eee;
  background-color: #191919;
}